* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#todo {
  width: fit-content;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.input {
  display: flex;
  width: 120%;
  justify-content: center;
  margin: 50px 0;
}
input {
  flex-grow: 1;
  padding: 0.5rem;
  border-radius: 20px;
}
#taskItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  cursor: grab;
}
.tasks {
  border: 5px dotted gray;
  padding: 30px;
  position: relative;
  right: 10px;
}
button {
  color: whitesmoke;
  font-weight: 500;
  width: 50px;
  background-color: rgb(72, 184, 72);
  margin-left: 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding: 0.4rem 0.5rem;
}
.del {
  background-color: rgb(210, 71, 71);
}
.checkbox {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
#taskItem span {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
}
