* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: antiquewhite;
}
header ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 100px;
  padding: 10px;
  text-transform: uppercase;
}
header ul li {
  cursor: pointer;
}
.Link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px;
}
a:hover {
  text-decoration: underline;
}
.active {
  color: rgb(69, 87, 169);
  text-decoration: underline;
}
