* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  gap: 10px;
  margin: 20px auto;
}
.grid {
  cursor: pointer;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  /* background-color: aqua; */
}
.selected {
  background-color: aquamarine;
}
