* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rootFolder {
  /* background-color: #e4e4e4; */
  width: 300px;

  padding: 0px 10px;
}
.name {
  background-color: rgb(210, 210, 210);
  padding: 3px 5px;
  cursor: pointer;
  margin: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}
.cta {
  display: flex;
  gap: 3px;
}
.cta button {
  text-transform: uppercase;
  padding: 1px 3px;
  font-size: 10px;
  cursor: pointer;
}
.inner_items {
  margin-left: 0px;
}
